<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Recommended Rules for projects" ToolsVersion="22.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="MinimumRecommendedRules_Name" />
    <Description Resource="MinimumRecommendedRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1000" Action="Info" />
    <Rule Id="CA1031" Action="Info" />
    <Rule Id="CA1812" Action="Info" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="Info" />
    <Rule Id="CA2007" Action="Error" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1101" Action="Error" />
    <Rule Id="S1128" Action="Error" />
    <Rule Id="S1172" Action="Info" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S3216" Action="Error" />
    <Rule Id="S4261" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="Info" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1401" Action="Error"/>
    <Rule Id="SA1404" Action="Error"/>
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>